fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20
PyYAML==6.0.2
Pillow==11.2.1
numpy==2.4.6
opencv-python==4.11.0.86
PyWavelets==1.8.0
blind-watermark==0.4.4
cryptography==45.0.4
argon2-cffi==23.1.0
PyJWT==2.10.1
